body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
  }

.header {
    width: 100vw;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    gap: 200px;
    align-items: center;
    padding-top: 18px;
}

.logo {
    height: 30px;
    width: 50px;
    
}

.links {
    display: flex;
    align-items: center;
}

ul {
  list-style-type: none;
  color: #E5E7EB;
  font-size: 18px;
  font-weight: lighter;
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
}  

.hero-b {
    width: 100vw;
    height: 400px;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin: 0;
    padding: 30px 0;
}

.hero-image {
    width: 600px;
    height: 300px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9FAF8;
    line-height: 3rem;
}

.hero-text p {
 font-size: 18px;
 color: #E5E7EB;
 font-weight: lighter;
}

.sign-up-b {
    padding: 8px 28px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

.info-b {
    width: 100vw;
    height: 400px;
    background-color: white;
    align-items: center;
    margin: 0;
    padding: 53px 0;
}

.info-b h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-bottom: 20px;
}

.element-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-content: center;
    padding: 30px 0;
}

.element p {
    font-size: 18px;
    font-weight: lighter;
    color: #1F2937;
}

.image-box {
    width: 100x;
    height: 100px;
    padding: 28px 28px;
    border-radius: 12px;
    border: 3px solid royalblue;
    color: white;
    display: flex;
    justify-items: center;
    align-items: center;
}

.element {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.quote-b {
    width: 100vw;
    height: 400px;
    background-color: #E5E7EB;
    align-items: center;
    margin: 0;
    padding: 25px 0;
    display: flex;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
    width: 55vw;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    font-style: normal;
    text-align: right;
    padding-right: 50px;

}